.cover {
    position: fixed;
    width: 100%;
}

.heading {
    color: red;
    font-weight: 400;
    margin-left: 50px;
    letter-spacing: 3px;
}

.content {
    background-color: rgba(255,255,255,0.9);
}